@media screen and (max-width: 768px) {

    header {

        margin-bottom: 10px;
        position: sticky;
        top: 5px;
        z-index: 100;
        background-color: #545454;
        border: solid 1px transparent;
        border-radius: 30px;
        
        margin: 10px;
        margin-top: 5px;
        opacity: 0.96;

        nav {
            .nav-bar {
                @include flex-options(row, center, center, wrap);

                li {
                    .nav-bar-item {

                        margin: 0 8px;

                        &:hover {
                            border: solid 1px transparent;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    main {
        #sobre-mi {

            padding: 0;

            div.about-me-container {

                margin: 0;

                div.info-about-me {

                    align-content: center;

                    div.main-title {

                        margin: 0;

                        h1 {
                            font-size: 5vh;
                        }
                    }

                    div.img-mine {

                        img {
                            width: 110px;
                        }
                    }

                    div h2 {
                        font-size: 2.8vh;
                    }

                    div h3 {
                        font-size: 3vh;
                    }
                }

                div ul.icons-about-me {

                    margin: 10px 0;
                    align-content: center;

                    li div.item {
                        margin: 5px;
                        

                        &:hover {

                            border: solid 1px #f8bb42;

                            a,
                            .icon {
                                color: #f8bb42;
                            }
                        }
                    }
                }
            }
        }

        #personal {

            padding: 0;

            div.personal-title {

                h3 {
                    text-align: start;
                }
            }

            div.personal-container {

                @include flex-options(column-reverse, center, center, wrap);

                div.paragraphs {

                    p {

                        font-size: 1rem;
                        text-align: start;
                    }


                }

                div.personal-img {

                    img {
                        width: 30vh;
                        transform: none;
                    }
                }
            }
        }

        #experiencia {

            padding: 0;

            div.exp-title {

                h3 {
                    text-align: start;
                }
            }

            div.exp-info {
                @include flex-options(column, center, center, wrap);
                align-content: center;
                padding: 0 10px;

                div.exp-info-title {

                    align-self: start;
                    padding: 0 10px;

                    div h4 {
                        font-size: 20px;
                    }

                    div h5 {
                        font-size: 15px;
                    }
                }

                div.exp-info-data {

                    p {
                        text-align: start;
                    }
                }
            }
        }

        #proyectos {

            padding: 0;

            div.pro-title {

                h3 {
                    text-align: start;
                }
            }

            div.pro-data-container {

                padding: 0 20px;
                grid-template-areas: "img" "title" "hiper" "par";
                align-content: center;
                justify-content: center;

                div.pro-data-title {

                    grid-area: title;

                    h4 {
                        text-align: start;
                    }
                }

                div.pro-img {

                    transition: none;
                    grid-area: img;
                    padding: 0;

                    img {
                        width: 350px;
                        justify-self: center;
                    }


                    &:hover {
                        transform: none;
                    }
                }

                ul.pro-hiper {

                    grid-area: hiper;
                    align-content: center;
                    margin: 10px 0;
                }

                div.pro-paragraph {
                    grid-area: par;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    header {

        margin-bottom: 10px;
        position: sticky;
        top: 5px;
        z-index: 100;
        background-color: #545454;
        border: solid 1px transparent;
        border-radius: 30px;
        
        margin: 10px 100px;
        margin-top: 5px;
        opacity: 0.96;

        nav {
            .nav-bar {
                @include flex-options(row, center, center, wrap);

                li {
                    .nav-bar-item {

                        margin: 0 8px;

                        &:hover {
                            border: solid 1px transparent;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    main {

        #sobre-mi {

            padding: 0;
        }

        #personal {

            padding: 0;

            div.personal-container {

                div.personal-img {

                    img {
                        transform: none;
                    }
                    
                }
            }
        }

        #experiencia {

            padding: 0;
        }

        #proyectos {

            padding: 0;
        }
    }

    
}